*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
}

.page {
    margin: 1% 5%;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8%;
}

#cover_letter {
    width: 100%;
    /* margin: 0 200px; */
}

.form_element {
    width: 100%;
}

#letter {
    background: whitesmoke;
}

